:host {
  @media (min-width: 600px) {
    display: none;
  }
}

.carousel-container {
  max-width: 600px;
  width: 100%;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.3s ease-out;
  touch-action: pan-y;
  width: 100vw;
}
